[defaults]
inventory = ./inventory/openwrt.ini
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml
timeout = 30

[persistent_connection]
connect_timeout = 30
command_timeout = 30
